@model Test.Models.recepta

@{
    ViewBag.Title = "Create";
}

<h2>Create</h2>

@using (Html.BeginForm()) 
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>recepta</h4>
        <hr />
        @Html.ValidationSummary(true)

        <div class="form-group">
            @Html.LabelFor(model => model.Pacjent, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.Pacjent)
                @Html.ValidationMessageFor(model => model.Pacjent)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.NazwaLeku, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.NazwaLeku)
                @Html.ValidationMessageFor(model => model.NazwaLeku)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.IloscOpakowanOrazTalbetek, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.IloscOpakowanOrazTalbetek)
                @Html.ValidationMessageFor(model => model.IloscOpakowanOrazTalbetek)
            </div>
        </div>

        <div class="form-group">
            @Html.LabelFor(model => model.WaznoscRecepty, new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.WaznoscRecepty)
                @Html.ValidationMessageFor(model => model.WaznoscRecepty)
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Create" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("Back to List", "Index")
</div>
