@model IEnumerable<Test.Models.recepta>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Pacjent)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.NazwaLeku)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.IloscOpakowanOrazTalbetek)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.WaznoscRecepty)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Pacjent)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.NazwaLeku)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.IloscOpakowanOrazTalbetek)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.WaznoscRecepty)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.receptaId }) |
            @Html.ActionLink("Details", "Details", new { id=item.receptaId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.receptaId })
        </td>
    </tr>
}

</table>
