@model Test.Models.skierowanie
@{
    ViewBag.Title = "skierowanie";
}

<h2>skierowanie</h2>

@using (Html.BeginForm("skierowanie", "Lekarz", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    @Html.AntiForgeryToken()
    <h4>Wystaw skierowanie dla pacjenta.</h4>
    <hr />
    @Html.ValidationSummary()

     <div class="form-group">
        @Html.LabelFor(m => m.SkierowanieId, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.SkierowanieId, new { @class = "form-control" })
        </div>
    </div>
    
     <div class="form-group">
        @Html.LabelFor(m => m.Lekarz, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Lekarz, new { @class = "form-control" })
        </div>
    </div>
    
     <div class="form-group">
        @Html.LabelFor(m => m.Pacjent, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Pacjent, new { @class = "form-control" })
        </div>
    </div>
    
    <div class="form-group">
        @Html.LabelFor(m => m.Gdzie, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.Gdzie, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(m => m.DataWystawnienia, new { @class = "col-md-2 control-label" })
        <div class="col-md-10">
            @Html.TextBoxFor(m => m.DataWystawnienia, new { @class = "form-control" })
        </div>
    </div>

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" class="btn btn-default" value="Wyślij" />
        </div>
    </div>
}